language: generic
sudo: required
services:
  - docker
install:
  - sudo pip install https://github.com/goldmann/docker-squash/archive/master.zip
  # On 1. day, still use last month's tarfile,
  # the latest one may not be on the mirror yet
  - export TAR_DATE=$(date --date=yesterday +'%Y.%m.01')
script:
  - ./pull || sudo ./build
  - ./update
after_success:
  - '[ "$TRAVIS_PULL_REQUEST" == "false" ] && [ "$TRAVIS_BRANCH" == "master" ] && docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD" && ./push'
